<div class="body">
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </label>
    <label class="logo">
      <label class="logo">The swap</label>
    </label>
    <ul [class.open]="menuOpen">
      <li>
        <a routerLink="/circularEconomy">Economía Circular</a>
      </li>
      <li>
        <a routerLink="/rewards">¿Como ganar puntos?</a>
      </li>
      <li>
        <a routerLink="/coupon">Cupones</a>
      </li>
      <li *ngIf="isLoggedIn" class="product-menu" [class.active]="productMenuOpen" (click)="toggleProductMenu($event)">
        <a><i class="fa fa-box"></i> Productos</a>
        <ul class="dropdown">
          <li><a routerLink="/products">Ver todos los productos</a></li>
          <li><a routerLink="/new-product">Crear nuevo producto</a></li>
        </ul>
      </li>

      <li *ngIf="isLoggedIn" class="profile-menu" [class.active]="profileMenuOpen" (click)="toggleProfileMenu($event)">
        <a><i class="fa fa-user"></i> {{ getUsername() }}</a>
        <ul class="dropdown">
          <li><a routerLink="user/profile">Mi perfil</a></li>
          <li><a routerLink="user/my-coupons">Mis cupones</a></li>
          <li><a routerLink="user/offers-by-user">Mis ofertas</a></li>
          <li><a routerLink="user/transactions">Mis transacciones</a></li>
          <li><a routerLink="user/my-reports">Mis reportes</a></li>
          <li><a (click)="logout()">Cerrar sesión</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="main"></div>
</div>
