<!-- Video de fondo -->
<div class="body">
    <div class="rewards-container">
        <div class="background"></div>
        <div class="content">
        <h1>Gana Puntos Con Nuestras Recompensas</h1>
        <p>Descubre cómo puedes ganar puntos y aprovechar nuestras recompensas.</p>
        <div class="rewards-grid">
            <div class="reward-card">
            <h2>Publicación</h2>
            <p>Gana 10 puntos por cada publicación que realices.</p>
            <img src="https://png.pngtree.com/png-clipart/20230108/original/pngtree-new-post-stock-png-image_8885583.png" alt="Publicación">
            </div>
            <div class="reward-card">
            <h2>Transacción</h2>
            <p>Gana 20 puntos por cada transacción completada.</p>
            <img src="https://static.vecteezy.com/system/resources/previews/009/390/744/non_2x/3d-illustration-transaction-png.png" alt="Transacción">
            </div>
            <div class="reward-card">
            <h2>Calificación</h2>
            <p>Gana 5 puntos por cada calificación que realices.</p>
            <img src="https://cdn-icons-png.flaticon.com/512/5824/5824152.png" alt="Calificación">
            </div>
        </div>
        </div>
    </div>
</div>
  