<div *ngIf="product && user" class="product-container">
    <div class="product-card">
      <div class="product-image">
        <img [src]="product.imageUrl" alt="Product Image">
      </div>
      <div class="product-details">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Precio: {{ product.price | currency }}</p>
      </div>
    </div>
  
    <div class="publication-details" *ngIf="publication">
        <h3>Publicación</h3>
        <p>{{ publication.title }}</p>
        <p>Fecha: {{ publication.dateCreated | date }}</p>
        <p>Estado: {{ publication.state.description }}</p>
      </div>
  
    <div class="product-actions">
      <!-- Botón para ver las ofertas relacionadas con el producto -->
      <button [routerLink]="['/user/my-product-offers', publication?.idPublication]" class="btn btn-primary">Ver Ofertas</button>
      <!-- Enlace para crear una nueva publicación si el usuario no tiene ninguna asociada al producto -->
      <a *ngIf="!hasPublications()" [routerLink]="['/new-publication', product.idProduct]" class="btn btn-success">Crear Publicación</a>
    </div>
  </div>
  