<app-landing-circular-economy></app-landing-circular-economy>
<div class="title-1" (click)="goToMoreInfo()">
  <h2>¿Sabías que puedes ganar puntos por utilizar la app? Da click aqui para más información</h2>
</div>
<br>
<div class="title">
  <h2>Productos</h2>
</div>
<div class="body">
  <div class="container">
    <div class="filters-container">
      <div class="searchBox">
        <h3>Buscadores</h3>
        <div class="searchInputs">
          <input class="searchInput" type="text" placeholder="Buscar por título" [(ngModel)]="searchParams.title">
          <input class="searchInput" type="text" placeholder="Buscar por nombre de producto" [(ngModel)]="searchParams.productName">
          <input class="searchInput" type="text" placeholder="Buscar por descripción de producto" [(ngModel)]="searchParams.productDescription">
          <input class="searchInput" type="text" placeholder="Buscar por categoría" [(ngModel)]="searchParams.categoryTitle">
          <input class="searchInput" type="text" placeholder="Buscar por estado" [(ngModel)]="searchParams.stateDescription">
          <button class="searchButton" (click)="onSearch()">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
              <g clip-path="url(#clip0_2_17)">
                <g filter="url(#filter0_d_2_17)">
                  <path d="M23.7953 23.9182L19.0585 19.1814M19.0585 19.1814C19.8188 18.4211 20.4219 17.5185 20.8333 16.5251C21.2448 15.5318 21.4566 14.4671 21.4566 13.3919C21.4566 12.3167 21.2448 11.252 20.8333 10.2587C20.4219 9.2653 19.8188 8.36271 19.0585 7.60242C18.2982 6.84214 17.3956 6.23905 16.4022 5.82759C15.4089 5.41612 14.3442 5.20435 13.269 5.20435C12.1938 5.20435 11.1291 5.41612 10.1358 5.82759C9.1424 6.23905 8.23981 6.84214 7.47953 7.60242C5.94407 9.13789 5.08145 11.2204 5.08145 13.3919C5.08145 15.5634 5.94407 17.6459 7.47953 19.1814C9.01499 20.7168 11.0975 21.5794 13.269 21.5794C15.4405 21.5794 17.523 20.7168 19.0585 19.1814Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges"></path>
                </g>
              </g>
              <defs>
                <filter id="filter0_d_2_17" x="-0.418549" y="3.70435" width="29.7139" height="29.7139" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                  <feOffset dy="4"></feOffset>
                  <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                  <feComposite in2="hardAlpha" operator="out"></feComposite>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2_17"></feBlend>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2_17" result="shape"></feBlend>
                </filter>
                <clipPath id="clip0_2_17">
                  <rect width="28.0702" height="28.0702" fill="white" transform="translate(0.403503 0.526367)"></rect>
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <div class="products-grid">
      <div *ngFor="let product of filteredProducts" class="card">
        <div class="card-img">
          <img [src]="product.imageUrl" alt="{{ product.name }}" class="img">
        </div>
        <div class="card-title">{{ product.name }}</div><br>
        <div class="card-subtitle">Descripcion: {{ product.description }}</div>
        <div class="card-subtitle"><p>Categoria: {{ product.productCategory?.title }}</p></div>
        <hr class="card-divider">
        <div class="card-footer">
          <div class="card-price"><span>$</span>{{ product.price }}</div>
          <button (click)="viewPublication(product.idProduct)" class="card-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="m397.78 316h-205.13a15 15 0 0 1 -14.65-11.67l-34.54-150.48a15 15 0 0 1 14.62-18.36h274.27a15 15 0 0 1 14.65 18.36l-34.6 150.48a15 15 0 0 1 -14.62 11.67zm-193.19-30h181.25l27.67-120.48h-236.6z"></path>
              <path d="m222 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path>
              <path d="m368.42 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path>
              <path d="m158.08 165.49a15 15 0 0 1 -14.23-10.26l-25.71-77.23h-47.44a15 15 0 1 1 0-30h58.3a15 15 0 0 1 14.23 10.26l29.13 87.49a15 15 0 0 1 -14.23 19.74z"></path>
            </svg>
          </button>
        </div>
        <div class="publication-details" *ngIf="product.publication">
          <h3>Publicación</h3>
          <p>{{ product.publication.title }}</p>
          <p>Fecha: {{ product.publication.dateCreated | date }}</p>
          <p>{{ product.publication.state.description }}</p>
        </div>
      </div>
    </div>
  </div>
  
</div>